@model LibrarySystem.Models.Book

@{
    ViewBag.Title = "Book Details";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index")">Books List</a></li>
    <li class="active">Details</li>
</ol>
<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content(Model.Image)" alt="Book Cover" height="225" width="180" class="img-responsive" />

        </div>
        <div class="col-md-10">
            <h1>@Html.DisplayFor(model => model.Title) <small>@Html.DisplayFor(model => model.Type)</small></h1>

            <p>
                <strong>@Html.DisplayNameFor(model => model.Writer): </strong>
                @Model.Author.Name
            </p>

            <p>
                <strong>@Html.DisplayNameFor(model => model.ReleaseDate): </strong>
                @Model.ReleaseDate.Day/@Model.ReleaseDate.Month/@Model.ReleaseDate.Year
            </p>

            <p>
                <strong>@Html.DisplayNameFor(model => model.Edition): </strong>
                @Model.Edition
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>@Html.DisplayNameFor(model => model.Description)</h2>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <hr />
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }, htmlAttributes: new { @class = "btn btn-success" })


</div>

