@model IEnumerable<LibrarySystem.Models.Book>

@{
    ViewBag.Title = "Books List";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Books List</li>
</ol>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            Image
        </th>
        <th>
            Title
        </th>
        <th>
            Type
        </th>
        <th>
            Writer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Image != null)
            {
                <img src="@Url.Content(item.Image)" alt="Book Cover" height="100" width="80" class="img-responsive" />
            }
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.BookId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
            <p class="btn-group">
                @if (User.IsInRole("Manager"))
                {
                    <a href="@Url.Action("Edit", new { id = item.BookId})"> <i class="material-icons btn btn-primary">edit</i> </a>
                    <a href="@Url.Action("Delete", new { id = item.BookId})"> <i class="material-icons btn btn-danger">delete</i> </a>
                }
                
            </p>
            
        </td>
    </tr>
}

</table>

<hr />
@Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })

