@model LibrarySystem.Models.Author

@{
    ViewBag.Title = "Author Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            @if(Model.Image != null)
            {
                <img src="@Url.Content(Model.Image)" alt="Author Picture" height="225" width="180"/>
            }
        </div>
        <div class="col-md-10">
            <h1>@Html.DisplayFor(model => model.Name)<small>@Html.DisplayFor(model => model.Specialty)</small></h1>
            <p>
                <strong>@Html.DisplayNameFor(model => model.BirthDate)</strong>
                @Model.BirthDate.Day/@Model.BirthDate.Month/@Model.BirthDate.Year
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h2>@Html.DisplayNameFor(model => model.Description)</h2>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <hr />
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }, htmlAttributes: new { @class = "btn btn-success" })
</div>
