@model IEnumerable<LibrarySystem.Models.Author>

@{
    ViewBag.Title = "Authors List";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Authors List</li>
</ol>

@if (User.IsInRole("Manager"))
{
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })

    <hr />
}
else
{
    using (Html.BeginForm())
    {
        <div class="row">
            <div class="form-group col-md-10">
                <input type="text" class="form-control full-width" name="SearchQuery" placeholder="Enter An Author Name To Search" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="form-control btn btn-primary" />
            </div>
        </div>
    }
}
   

<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th>
            Number of Books
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image)" alt="Author Picture" height="100" width="80" class="img-responsive" />
                }
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.AuthorId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @item.Books.Count
            </td>
            <td>
                @if (User.IsInRole("Manager"))
                {
                    <a href="@Url.Action("Edit", new { id = item.AuthorId})"> <i class="material-icons btn btn-primary">edit</i> </a>
                }
            </td>

        </tr>
    }

</table>

@if (Model.Count() == 0)
{
    <div style="text-align: center">
        <span class="text-primary">Sorry There's No Search Results That Mach You're Keywords</span>
    </div>
}


@if (!IsPost)
{
    <nav aria-label="Search Results" style="text-align: center">
        <ul class="pagination primar">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">3 <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>

}