@model IEnumerable<LibrarySystem.Models.Author>

@{
    ViewBag.Title = "Authors List";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Authors List</li>
</ol>

<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th>
            Number of Books
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image)" alt="Author Picture" height="100" width="80" class="img-responsive" />
                }
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.AuthorId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @item.Books.Count
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.AuthorId})"> <i class="material-icons btn btn-success">edit</i> </a>
            </td>

        </tr>
    }

</table>

<hr />
@Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-success" })